.flow-chart
{
    width: 100%;
    height: 100%;
    background: #555;
    position: absolute;
    top: 0px;
    left: 0px;
}

.flow-chart * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version */
    cursor: default;
}
