.flow-chart
{
    width: 100%;
    height: 100%;
    background: #555;
    position: absolute;
    top: 0px;
    left: 0px;
}

.flow-chart * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version */
}

.ContextMenu
{
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    background: rgba(50,50,50,0.95);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    border: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    display: none;
}

.ContextMenu input
{
    box-sizing: border-box;
    padding: 4px;
    background: rgba(0,0,0,0.2);
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    outline: none;
    width: 100%;
    color: white;
}

.ContextMenu .list
{
    font-family: arial;
    color: white;
}

.ContextMenu .category .title
{
    font-weight: bold;
    background: rgba(0,0,0,0.1);
}

.ContextMenu .category .item
{
    font-weight: normal;
    padding: 2px;
    font-size: 80%;
}

.ContextMenu .category .item:hover, .ContextMenu .category .item.selected
{
    background: rgba(255,255,255,0.1);
}
